body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    flex-grow: 1;
}

.team-img {
    border-radius: 50%;
    margin-bottom: 10px;
}

h3 {
    cursor: pointer;
    transition: color 0.3s ease;
}

h3:hover {
    color: #a8e12f;
}

.role {
    font-style: italic;
    font-size: 1.1em;
    color: #666;
}